@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
} */
/* shared styles */
.display-flex{
    display: flex;
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}
.common-p{
    font-size: 15px;
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 17px 28px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
.section-title{
    font-size: 2.5rem;
    margin-block-end: 20px;
}
/* shared styles end*/

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */
.banner-content{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 3rem;
    margin-bottom: 10px;
}
.banner-details{
    margin-bottom: 20px;
}
.banner-img{
    width: 100%;
    padding-bottom: 30px;
}

/* teams styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap:15px;
}
.our-features{
    margin-left: 90px;
    max-width: 500px;
}

.quick{
    font-weight: 500;
}
.of-our{
    font-weight: bold;
}
.features-span{
    color: #FF900E;
}
.features-details{
    margin-bottom: 32px;
}
/* reponsive media query */
@media screen and (max-width:576px){
    .nav-links,
    .navbar,
    .teams {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px;
        text-align: center;
    }
}